/StatisticalSolutions/StatisticalSolutions/obj
/StatisticalSolutions/StatisticalSolutions/bin
/StatisticalSolutions/StatisticalSolutions.Domain/obj
/StatisticalSolutions/StatisticalSolutions.Domain/bin
/StatisticalSolutions/StatisticalSolutions.Tests/obj
